<div
  class="grid grid-flow-row grid-cols-5 gap-4 bg-cust__slate rounded-md text-cust__white p-4"
>
  <!-- <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card> -->
  <div *ngFor="let fruit of fruits">
    <h3>{{ fruit.name }}</h3>
    <p>Family: {{ fruit.family }}</p>
    <p>Order: {{ fruit.order }}</p>
    <p>Genus: {{ fruit.genus }}</p>
    <p>Calories: {{ fruit.nutritions.calories }}</p>
    <p>Fat: {{ fruit.nutritions.fat }}</p>
    <p>Sugar: {{ fruit.nutritions.sugar }}</p>
    <p>Carbohydrates: {{ fruit.nutritions.carbohydrates }}</p>
    <p>Protein: {{ fruit.nutritions.protein }}</p>
    <p>Price: {{ fruit.price }}</p>
    <p>Rating: {{ fruit.rating }}</p>
    <p>img: {{ fruit.imgUrl }}</p>
  </div>

  <!-- <div
    *ngFor="let fruit of fruits"
    class="w-[220px] h-[300px] bg-cust__gray-light text-cust__slate-dark rounded-md"
  >
    <article>
      <div>
        <h3>{{ fruit.name }}</h3>
        <div>
          <img
            [src]="fruit.imgUrl"
            alt="{{ fruit.name }}"
            class="w-full h-24 object-cover rounded-md"
          />
          img
        </div>
        <div>Price: {{ fruit.price }}</div>
        <div class="flex justify-between items-center mt-2">
          <button (click)="decreaseAmount(fruit)">-</button>
          <div>{{ fruit.amount }}</div>
          <button (click)="increaseAmount(fruit)">+</button>
          <button
            (click)="buyFruit(fruit)"
            class="ml-2 p-1 bg-blue-500 text-white rounded-md"
          >
            Buy
          </button>
        </div>
        <div class="mt-2">Rating: {{ fruit.rating }} / 5</div>
      </div>
    </article>
  </div> -->
</div>
