<article
  class="grid grid-flow-row grid-cols-5 gap-4 bg-cust__slate rounded-md text-cust__white p-2"
>
  <div
    *ngFor="let fruit of fruits"
    class="flex flex-col justify-between items-center w-[220px] h-[300px] p-4 bg-cust__gray-light text-cust__slate-dark rounded-md"
  >
    <div>
      <h3 class="">
        <b>{{ fruit.name }}</b>
      </h3>
    </div>
    <div>
      <img
        [src]="'./assets/images/products/' + fruit.name.toLowerCase() + '.png'"
        alt="{{ fruit.name }}"
        class="w-20 h-20 object-cover rounded-md"
      />
    </div>
    <div class="text-sm">
      <p>
        <b>{{ fruit.price }}$</b> per kg <br />
        Rating: <b>{{ fruit.rating }}</b>
      </p>
    </div>
    <div class="flex w-[200px] gap-4 justify-center my-3">
      <button (click)="decreaseAmount(fruit)" class="text-2xl">-</button>
      <div>{{ fruit.amount }}</div>
      <button (click)="increaseAmount(fruit)" class="text-2xl">+</button>
    </div>
    <button (click)="buyFruit(fruit)" class="btn">Buy</button>
  </div>
</article>
