<footer
  class="flex justify-center items-center container static right-0 left-0 bottom-0 border p-4 mb-4 text-cust__white bg-cust__slate-dark rounded-md"
>
  <div>+380000000000</div>
  <div>Instagram</div>
  <div>X</div>
  <div>Facebook</div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nesciunt
  unde sed officiis minima accusantium, consectetur, culpa magni impedit
  corporis sit veniam voluptatem ipsam placeat consequuntur earum eum expedita
  repellat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
  nesciunt unde sed officiis minima accusantium, consectetur, culpa magni
  impedit corporis sit veniam voluptatem ipsam placeat consequuntur earum eum
  expedita repellat! Lorem ipsum dolor sit am
</footer>
