<footer
  class="flex justify-center items-center static right-0 left-0 bottom-0 border mx-40"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse iste eum
  asperiores natus magni. Consequuntur, hic beatae dolores recusandae omnis
  quidem. Odio modi sapiente laboriosam corrupti ratione veritatis iure quia?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse iste eum
  asperiores natus magni. Consequuntur, hic beatae dolores recusandae omnis
  quidem. Odio modi sapiente laboriosam corrupti ratione veritatis iure quia?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse iste eum
  asperiores natus magni. Consequuntur, hic beatae dolores recusandae omnis
  quidem. Odio modi sapiente laboriosam corrupti ratione veritatis iure quia?
</footer>
