<div
  class="flex flex-col justify-between items-center container bg-cust__slate rounded-md"
>
  <h2 *ngIf="productsCount === 0" class="text-cust__white text-3xl p-4 w-full">
    Cart empty!
  </h2>

  <h2 *ngIf="productsCount !== 0" class="text-cust__white text-3xl p-4 w-full">
    Cart
    <p class="text-xl">Thank you for choosing us!</p>
  </h2>

  <div
    *ngIf="productsCount !== 0"
    class="flex flex-col gap-2 bg-cust__slate rounded-md text-cust__white p-2"
  >
    <div
      *ngFor="let product of products"
      [ngClass]="{ hidden: product.amount === 0 }"
    >
      <div
        *ngIf="product.amount > 0"
        class="flex justify-around w-full gap-10 items-center container h-fit text-lg p-2 bg-cust__gray-light text-cust__slate-dark rounded-md"
      >
        <h3 class="text-xl w-32">
          <b>{{ product.name }}</b>
        </h3>
        <div>
          <img
            [src]="
              './assets/images/products/' + product.name.toLowerCase() + '.png'
            "
            alt="{{ product.name }}"
            class="w-12 h-12 object-cover rounded-md"
          />
        </div>
        <p>
          Rating: <b>{{ product.rating }}</b> / 5
        </p>
        <p>
          <b>{{ product.price }}$</b> per kg
        </p>
        <div class="w-16">{{ product.amount }} kg</div>
        <button class="btn" (click)="onRemove(product)">Remove</button>
      </div>
    </div>
  </div>
</div>

<button class="btn mt-4">Buy</button>
