<div class="flex justify-center text-center items-center flex-col gap-16">
  <app-header class="flex justify-center"></app-header>
  <div class="container mt-12">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
    vero fuga Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Doloremque vero fuga Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Doloremque vero fuga Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Doloremque vero fuga Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Doloremque vero fuga Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Doloremque vero fuga Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Doloremque vero fuga Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Doloremque vero fuga Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero fuga
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
    vero fuga Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Doloremque vero fuga Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Doloremque vero fuga Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Doloremque vero fuga Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Doloremque vero fuga Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Doloremque vero fuga Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Doloremque vero fuga Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Doloremque vero fuga Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero fuga
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
    vero fuga Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Doloremque vero fuga Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Doloremque vero fuga Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Doloremque vero fuga Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Doloremque vero fuga Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Doloremque vero fuga Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Doloremque vero fuga Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Doloremque vero fuga Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero fuga
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
    vero fuga Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Doloremque vero fuga Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Doloremque vero fuga Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Doloremque vero fuga Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Doloremque vero fuga Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Doloremque vero fuga Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Doloremque vero fuga Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Doloremque vero fuga Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero fuga
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
    vero fuga Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Doloremque vero fuga Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Doloremque vero fuga Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Doloremque vero fuga Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Doloremque vero fuga Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Doloremque vero fuga Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Doloremque vero fuga Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Doloremque vero fuga Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero fuga
    aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero
    fuga aperiam aspernatur totam harum molestias, quo quis alias labore quam
    architecto inventore. Delectus, esse minus ipsa perspiciatis animi porro.
  </div>
  <app-footer></app-footer>
</div>
