<div
  class="flex text-right flex-col w-[300px] bg-cust__slate rounded-md text-cust__white p-4"
>
  <h1 class="text-center">GARDEN Shop</h1>
  <app-searchBar class="w-full"></app-searchBar>
  <h2 class="text-center mt-3">Sort by</h2>
  <div>
    <div>
      <label for="sort">Сортировать по:</label>
      <select id="sort" (change)="onSortChange($event)">
        <option value="price">Price</option>
        <option value="name">Name</option>
        <option value="family">Family</option>
        <option value="order">Order</option>
        <option value="rating">Rating</option>
      </select>
    </div>
  </div>
</div>
