<div
  class="flex text-right flex-col w-[300px] bg-cust__slate rounded-md text-cust__white p-4"
>
  <h1 class="text-center">GARDEN Shop</h1>
  <app-searchBar class="w-full"></app-searchBar>
  <h2 class="text-center mt-3">Sort by</h2>
  <div>
    <div>
      <label for="sort">Сортировать по:</label>
      <ul id="sort-options">
        <li><button (click)="onSortChange('price')">Price</button></li>
        <li><button (click)="onSortChange('name')">Name</button></li>
        <li><button (click)="onSortChange('family')">Family</button></li>
        <li><button (click)="onSortChange('order')">Order</button></li>
        <li><button (click)="onSortChange('rating')">Rating</button></li>
      </ul>
    </div>
  </div>
</div>
